.git
.github
.tools
.artifacts
.kube
gitops
.idea
.vscode
m-plan.md
**/m-plan.md
MASTER_PLAN.md
**/MASTER_PLAN.md
**/master-plan.md
**/master_plan.md
**/private-plan.md
**/private_plan.md
docs
tests
cover.out
coverage.*
*.log
*.tmp
